[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pre-commit = "*"
icalendar = "*"
DateTime = "*"
tzlocal = "*"
requests = "*"

[dev-packages]
isort = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
